﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="DashCRAMWebApp._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h1>Start Your Road Trip With Us</h1>
    <img src="/Content/Pi_Image.jpg" alt="Dash Cam Image Not Found" width="50%" height="50%"/>
</asp:Content>
